/*container*/
@media only screen and (min-width:0px) and (max-width:575px) {
	.div-container {
		width: 100%;
		max-width: 100%;
	}

}

@media only screen and (min-width:576px) {
	.div-container {
		width: 100%;
		max-width: 540px;
	}

}

@media only screen and (max-width:778px) {
	.div-container {
		width: 100%;
		max-width: 720px;
	}

}

@media only screen and (min-width:992px) {
	.div-container {
		width: 100%;
		max-width: 960px;
	}

}

@media only screen and (min-width:1280px) {
	.div-container {
		width: 100%;
		max-width: 1140px;
	}

}

@media only screen and (max-width:600px) {
	.div-col-xs-1, .div-col-sm-1, .div-col-md-1, .div-col-lg-1, .div-col-xl-1 {
		width: 8.33%;
	}

	.div-col-xs-2, .div-col-sm-2, .div-col-md-2, .div-col-lg-2, .div-col-xl-2 {
		width: 16.66%;
	}

	.div-col-xs-3, .div-col-sm-3, .div-col-md-3, .div-col-lg-3, .div-col-xl-3 {
		width: 25%;
	}

	.div-col-xs-4, .div-col-sm-4, .div-col-md-4, .div-col-lg-4, .div-col-xl-4 {
		width: 33.33%;
	}

	.div-col-xs-5, .div-col-sm-5, .div-col-md-5, .div-col-lg-5, .div-col-xl-5 {
		width: 41.66%;
	}

	.div-col-xs-6, .div-col-sm-6, .div-col-md-6, .div-col-lg-6, .div-col-xl-6 {
		width: 50%;
	}

	.div-col-xs-7, .div-col-sm-7, .div-col-md-7, .div-col-lg-7, .div-col-xl-7 {
		width: 58.33%;
	}

	.div-col-xs-8, .div-col-sm-8, .div-col-md-8, .div-col-lg-8, .div-col-xl-8 {
		width: 66.66%;
	}

	.div-col-xs-9, .div-col-sm-9, .div-col-md-9, .div-col-lg-9, .div-col-xl-9 {
		width: 75%;
	}

	.div-col-xs-10, .div-col-sm-10, .div-col-md-10, .div-col-lg-10, .div-col-xl-10 {
		width: 83.33%;
	}

	.div-col-xs-11, .div-col-sm-11, .div-col-md-11, .div-col-lg-11, .div-col-xl-11 {
		width: 91.66%;
	}

	.div-col-xs-12, .div-col-sm-12, .div-col-md-12, .div-col-lg-12, .div-col-xl-12 {
		width: 100%;
	}

}

@media only screen and (min-width:600px) {
	.div-col-xs-1, .div-col-sm-1, .div-col-md-1, .div-col-lg-1, .div-col-xl-1 {
		width: 8.33%;
	}

	.div-col-xs-2, .div-col-sm-2, .div-col-md-2, .div-col-lg-2, .div-col-xl-2 {
		width: 16.66%;
	}

	.div-col-xs-3, .div-col-sm-3, .div-col-md-3, .div-col-lg-3, .div-col-xl-3 {
		width: 25%;
	}

	.div-col-xs-4, .div-col-sm-4, .div-col-md-4, .div-col-lg-4, .div-col-xl-4 {
		width: 33.33%;
	}

	.div-col-xs-5, .div-col-sm-5, .div-col-md-5, .div-col-lg-5, .div-col-xl-5 {
		width: 41.66%;
	}

	.div-col-xs-6, .div-col-sm-6, .div-col-md-6, .div-col-lg-6, .div-col-xl-6 {
		width: 50%;
	}

	.div-col-xs-7, .div-col-sm-7, .div-col-md-7, .div-col-lg-7, .div-col-xl-7 {
		width: 58.33%;
	}

	.div-col-xs-8, .div-col-sm-8, .div-col-md-8, .div-col-lg-8, .div-col-xl-8 {
		width: 66.66%;
	}

	.div-col-xs-9, .div-col-sm-9, .div-col-md-9, .div-col-lg-9, .div-col-xl-9 {
		width: 75%;
	}

	.div-col-xs-10, .div-col-sm-10, .div-col-md-10, .div-col-lg-10, .div-col-xl-10 {
		width: 83.33%;
	}

	.div-col-xs-11, .div-col-sm-11, .div-col-md-11, .div-col-lg-11, .div-col-xl-11 {
		width: 91.66%;
	}

	.div-col-xs-12, .div-col-sm-12, .div-col-md-12, .div-col-lg-12, .div-col-xl-12 {
		width: 100%;
	}

}

@media only screen and (min-width:768px) {
	.div-col-xs-1, .div-col-sm-1, .div-col-md-1, .div-col-lg-1, .div-col-xl-1 {
		width: 8.33%;
	}

	.div-col-xs-2, .div-col-sm-2, .div-col-md-2, .div-col-lg-2, .div-col-xl-2 {
		width: 16.66%;
	}

	.div-col-xs-3, .div-col-sm-3, .div-col-md-3, .div-col-lg-3, .div-col-xl-3 {
		width: 25%;
	}

	.div-col-xs-4, .div-col-sm-4, .div-col-md-4, .div-col-lg-4, .div-col-xl-4 {
		width: 33.33%;
	}

	.div-col-xs-5, .div-col-sm-5, .div-col-md-5, .div-col-lg-5, .div-col-xl-5 {
		width: 41.66%;
	}

	.div-col-xs-6, .div-col-sm-6, .div-col-md-6, .div-col-lg-6, .div-col-xl-6 {
		width: 50%;
	}

	.div-col-xs-7, .div-col-sm-7, .div-col-md-7, .div-col-lg-7, .div-col-xl-7 {
		width: 58.33%;
	}

	.div-col-xs-8, .div-col-sm-8, .div-col-md-8, .div-col-lg-8, .div-col-xl-8 {
		width: 66.66%;
	}

	.div-col-xs-9, .div-col-sm-9, .div-col-md-9, .div-col-lg-9, .div-col-xl-9 {
		width: 75%;
	}

	.div-col-xs-10, .div-col-sm-10, .div-col-md-10, .div-col-lg-10, .div-col-xl-10 {
		width: 83.33%;
	}

	.div-col-xs-11, .div-col-sm-11, .div-col-md-11, .div-col-lg-11, .div-col-xl-11 {
		width: 91.66%;
	}

	.div-col-xs-12, .div-col-sm-12, .div-col-md-12, .div-col-lg-12, .div-col-xl-12 {
		width: 100%;
	}

}

@media only screen and (min-width:992px) {
	.div-col-xs-1, .div-col-sm-1, .div-col-md-1, .div-col-lg-1, .div-col-xl-1 {
		width: 8.33%;
	}

	.div-col-xs-2, .div-col-sm-2, .div-col-md-2, .div-col-lg-2, .div-col-xl-2 {
		width: 16.66%;
	}

	.div-col-xs-3, .div-col-sm-3, .div-col-md-3, .div-col-lg-3, .div-col-xl-3 {
		width: 25%;
	}

	.div-col-xs-4, .div-col-sm-4, .div-col-md-4, .div-col-lg-4, .div-col-xl-4 {
		width: 33.33%;
	}

	.div-col-xs-5, .div-col-sm-5, .div-col-md-5, .div-col-lg-5, .div-col-xl-5 {
		width: 41.66%;
	}

	.div-col-xs-6, .div-col-sm-6, .div-col-md-6, .div-col-lg-6, .div-col-xl-6 {
		width: 50%;
	}

	.div-col-xs-7, .div-col-sm-7, .div-col-md-7, .div-col-lg-7, .div-col-xl-7 {
		width: 58.33%;
	}

	.div-col-xs-8, .div-col-sm-8, .div-col-md-8, .div-col-lg-8, .div-col-xl-8 {
		width: 66.66%;
	}

	.div-col-xs-9, .div-col-sm-9, .div-col-md-9, .div-col-lg-9, .div-col-xl-9 {
		width: 75%;
	}

	.div-col-xs-10, .div-col-sm-10, .div-col-md-10, .div-col-lg-10, .div-col-xl-10 {
		width: 83.33%;
	}

	.div-col-xs-11, .div-col-sm-11, .div-col-md-11, .div-col-lg-11, .div-col-xl-11 {
		width: 91.66%;
	}

	.div-col-xs-12, .div-col-sm-12, .div-col-md-12, .div-col-lg-12, .div-col-xl-12 {
		width: 100%;
	}

}

@media only screen and (min-width:1200px) {
	.div-col-xs-1, .div-col-sm-1, .div-col-md-1, .div-col-lg-1, .div-col-xl-1 {
		width: 8.33%;
	}

	.div-col-xs-2, .div-col-sm-2, .div-col-md-2, .div-col-lg-2, .div-col-xl-2 {
		width: 16.66%;
	}

	.div-col-xs-3, .div-col-sm-3, .div-col-md-3, .div-col-lg-3, .div-col-xl-3 {
		width: 25%;
	}

	.div-col-xs-4, .div-col-sm-4, .div-col-md-4, .div-col-lg-4, .div-col-xl-4 {
		width: 33.33% !important;
	}

	.div-col-xs-5, .div-col-sm-5, .div-col-md-5, .div-col-lg-5, .div-col-xl-5 {
		width: 41.66%;
	}

	.div-col-xs-6, .div-col-sm-6, .div-col-md-6, .div-col-lg-6, .div-col-xl-6 {
		width: 50%;
	}

	.div-col-xs-7, .div-col-sm-7, .div-col-md-7, .div-col-lg-7, .div-col-xl-7 {
		width: 58.33%;
	}

	.div-col-xs-8, .div-col-sm-8, .div-col-md-8, .div-col-lg-8, .div-col-xl-8 {
		width: 66.66%;
	}

	.div-col-xs-9, .div-col-sm-9, .div-col-md-9, .div-col-lg-9, .div-col-xl-9 {
		width: 75%;
	}

	.div-col-xs-10, .div-col-sm-10, .div-col-md-10, .div-col-lg-10, .div-col-xl-10 {
		width: 83.33%;
	}

	.div-col-xs-11, .div-col-sm-11, .div-col-md-11, .div-col-lg-11, .div-col-xl-11 {
		width: 91.66%;
	}

	.div-col-xs-12, .div-col-sm-12, .div-col-md-12, .div-col-lg-12, .div-col-xl-12 {
		width: 100%;
	}

}
